.page2.wrapper
    .container

        .column.column__1x


            .big_title Взгляните на моего сенсея
            .text и пофигу, что к космонативке он не имеет никакого отношения,здесь может быть много хвалебного текста, но лучше приведем пример его крайней записи в ВКЭто страус Гоша(пусть будет так), он ненавидит людей и обожает жрать. А ещё он порой выглядит так, будто уже сдох и успел порядком подразложиться. Пахнет от него в прочем так-же...

            .page2__photo(
                data-swiper-parallax="-500"
                )
                    img(
                    src="img/objects/sensei.jpg"
                    style="max-width: 90%"
                    v-on:click.self='photoOpen($event)'
                    )

        .column.column__2x

            .big_title Некоторые примеры его великих похождений
            .text.text__dark-grey Обратите мнение на охуенно поставленные кадры, цвет, свет и обработку!

            .sensei-foto
                img(
                src="img/objects/slide-6.jpg"
                style="width: 250px; max-height: 145px;"
                v-on:click.self='photoOpen($event)'
                )
                img(
                src="img/objects/slide-4.jpg"
                style="width: 250px; max-height: 145px;"
                v-on:click.self='photoOpen($event)'
                )
                img(
                src="img/objects/slide-7.jpg"
                style="width: 250px; max-height: 145px;"
                v-on:click.self='photoOpen($event)'
                )

            .sensei-foto
                img(
                src="img/objects/slide-2.jpg"
                style="width: 250px; max-height: 145px;"
                v-on:click.self='photoOpen($event)'
                )
                img(
                src="img/objects/slide-5.jpg"
                style="width: 250px; max-height: 145px;"
                v-on:click.self='photoOpen($event)'
                )
                img(
                src="img/objects/slide-8.jpg"
                style="width: 250px; max-height: 145px;"
                v-on:click.self='photoOpen($event)'
                )

            .sensei-foto
                img(
                src="img/objects/slide-3.jpg"
                style="width: 250px; max-height: 145px;"
                v-on:click.self='photoOpen($event)'
                )
                img(
                src="img/objects/slide-6.jpg"
                style="width: 250px; max-height: 145px;"
                v-on:click.self='photoOpen($event)'
                )
                img(
                src="img/objects/slide-9.jpg"
                style="width: 250px; max-height: 145px;"
                v-on:click.self='photoOpen($event)'
                )

        .column.column__1x
            .subtitle Слайд про охуенного сенсеся
            .text Крч, сенсей из Тагила проживающий в Перми
            .big_title Вряд ли когда нибудь заработает 170 млн
            .text.text__dark-grey Суммарная мощность двигателей, лошадиных сил - 1 дьявольская сила

            .title_blue_small Разработка проекта - старт дан 21 января 1991 г.

            .big_title Хочет вернутся в 2007
            .text Идёшь такой себе идёшь, где-то написано "Здесь был Вася" и "петя казёл!", а потом бац и вся стена исписанная формулами. То ли южный климат на людей так влияет, то ли что.  Ну да в прочем и правда — "Скорость фотона не изменяется, если он переходит из одной среды в другую"


        .hand-to-left__block
    .bg-crosses(
    data-swiper-parallax="-350"
    )
    .bg-lines